<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Add Product</h1>
        <form th:action="@{/products/add}" th:object="${product}" method="post" class="form-container">
					<div class="form-group">
							<label for="productName">Product Name:</label>
							<input type="text" id="productName" th:field="*{productName}" class="form-control" required />
					</div>
			
					<div class="form-group">
							<label for="price">Price:</label>
							<input type="number" id="price" th:field="*{price}" class="form-control" step="0.01" required />
					</div>
			
					<div class="form-group">
							<label for="category">Category:</label>
							<input type="text" id="category" th:field="*{category}" class="form-control" required />
					</div>
			
					<div class="form-group">
							<label for="shop">Shop:</label>
							<select id="shop" th:field="*{shop.id}" class="form-select" required>
									<option value="" disabled selected>Select Shop</option>
									<option th:each="shop : ${shops}" th:value="${shop.id}" th:text="${shop.shopName}"></option>
							</select>
					</div>
			
					<button type="submit" class="btn btn-primary">Add Product</button>
			</form>
			
        <a href="/products" class="button back">Back to Products</a>
    </div>
</body>
</html>
